<%= form_for([@companyadmin]) do |form| %>
  <% if @companyadmin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@companyadmin.errors.count, "error") %> prohibited this company admin from being saved:</h2>

      <ul>
      <% @companyadmin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :email %><br />
    <%= form.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= form.password_field :password, autocomplete: "off" %>
  </div>


  <div class="field">
    <%= form.label :fname %>
    <%= form.text_field :fname, id: :companyadmin_fname %>
  </div>

  <div class="field">
    <%= form.label :lname %>
    <%= form.text_field :lname, id: :companyadmin_lname %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :companyadmin_address %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.number_field :phone, id: :companyadmin_phone %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :companyadmin_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :companyadmin_state %>
  </div>

   <div class="field">
    <%= form.label :sub_no,"Number of Stations" %>
    <%= form.number_field :sub_no, id: :admin_sub_no %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-primary"%>
  </div>
<% end %>
