<p id="notice"><%= notice %></p>

<h1>Sales Reports</h1>

<table>
  <thead>
    <tr>
      <th>Station</th>
      <th>Stock</th>
      <th>Product</th>
      <th>Pump attendant name</th>
      <th>Pump attendat phone</th>
      <th>Met at reading</th>
      <th>Left at reading</th>
      <th>Sold capacity</th>
      <th>Estimate amount</th>
      <th>Amount brought</th>
      <th>Remark</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales_reports.each do |sales_report| %>
      <tr>
        <td><%= sales_report.station_id %></td>
        <td><%= sales_report.stock %></td>
        <td><%= sales_report.product %></td>
        <td><%= sales_report.pump_attendant_name %></td>
        <td><%= sales_report.pump_attendat_phone %></td>
        <td><%= sales_report.met_at_reading %></td>
        <td><%= sales_report.left_at_reading %></td>
        <td><%= sales_report.sold_capacity %></td>
        <td><%= sales_report.estimate_amount %></td>
        <td><%= sales_report.amount_brought %></td>
        <td><%= sales_report.remark %></td>
        <td><%= link_to 'Show', sales_report %></td>
        <td><%= link_to 'Edit', edit_sales_report_path(sales_report) %></td>
        <td><%= link_to 'Destroy', sales_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sales Report', new_sales_report_path %>
