<% provide( :title, @product.name+" Sales Report Entry") %>
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-12">

  <div class="x_panel" style="">
      <div class="x_title">
     <h3> New Sales Report for <%= @product.name %></h3>
</div> 
<p>
  <strong>Branch Name:</strong>
  <%= @product.station.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @product.station.company.name %>
</p>
<br>
<br>
<br>

      <%= render "sales_reports/form"%>


<br/>
</div>

