<% provide( :title, @station.name+" Product - "+@product.name) %>

<div class="row">
  <div class="col-md-12">
  <div class="x_panel" style="">
      <div class="x_title">
<h1>
  
  <%= @product.name.capitalize %> at <%= @product.station.name.capitalize %>
</h1>
</div>
<br>

<%= link_to 'Edit', edit_product_path(@product), class:"btn btn-primary" %> |
<%= link_to 'Goto Station', station_path(@station), class:"btn btn-primary" %>

<br>

<br>
<br>

<div class="clearfix"></div>
  <div class="col-md-10 col-sm-10 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2><i class="fa fa-align-left"></i>Product Pane <small><%= @product.name %> associated models</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>   
         
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <!-- start accordion -->
        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel">
            <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <h4 class="panel-title"><%= @product.name%> Tank</h4>
            </a>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">           


<% if @product.tanks.any? %>

<%= @product.name%> Tanks

<table class="table table-striped table-bordered">
  <thead>
    <tr>
     <th>Pump</th>
      <th>Total capacity</th>
      <th>Used capacity</th>
      <th>Free capacity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   <% @product.tanks.order(created_at: :desc, id: :desc).each do |tank| %>
      <tr>
       
       <td><%= tank.pump.name %></td>
        <td><%= tank.total_capacity %></td>
        <td><%= tank.used_capacity %></td>
        <td><%= tank.free_capacity %></td>
        <td><%= link_to 'Show', tank, class:"btn btn-success" %></td>
        <%if current_admin.companyadmin?%>
        <td><%= link_to 'Edit', edit_tank_path(tank), class:"btn btn-success" %></td>
        <td><%= link_to 'Delete', tank, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td><%end%>
      </tr>
      
  </tbody>
</table>
<% end %>
<br>
<%else%>
      There is no tanks added under this product yet!
    <% end %>

              </div>
            </div>
          </div>

 <div class="panel">
            <a class="panel-heading collapsed" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <h4 class="panel-title"><%= @product.name %> Stocks</h4>
            </a>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                
                  <% if @product.stocks.any? %><p class="lead">
 Stocks For <%=@product.name%> in <%= @product.station.name %> Station


                </p>
                

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Description</th>
   
      <th>Tank capacity</th>
     
      <th>Cost per ltr</th>

      <th>Selling price per ltr</th>
  
      <th colspan="4"></th>
    </tr>
  </thead>
<tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.description %></td>
       
        <td><%= stock.tank_capacity %></td>
      
       
        <td><%= stock.cost_per_ltr %></td>
        <td><%= stock.selling_price_per_ltr %></td>
        <td><%= link_to 'Show', stock, class:"btn btn-success" %></td>
        <%if current_admin.companyadmin?%>
        <td><%= link_to 'Edit', edit_stock_path(stock), class:"btn btn-success" %></td>
        <td><%= link_to 'Delete', [stock.product, stock], method: :delete, data: {confirm: "Are you sure you want to delete this stock..? its going affect your system reports and projections."}, class:"btn btn-danger" %></td><%end%>
        <td><%= time_ago_in_words(stock.created_at)%> ago </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @stocks, :renderer => BootstrapPagination::Rails %>
<% else %>
There are no stocks added to this product category yet.
<% end %>

              </div>
            </div>
          </div>

          <div class="panel">
            <a class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <h4 class="panel-title"><%= @product.name %> Pumps</h4>
            </a>


            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <p><% if @product.pumps.any? %>
Available Pumps For <%=@product.name%> in <%= @product.station.name %>
                </p>
               


  

  <table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Station</th>
     
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product.pumps.order(created_at: :desc, id: :desc).each do |pump| %>
      <tr>
        <td><%= pump.name %></td>
        <td><%= pump.station.name %></td>
       
        <td><%= link_to 'Show', pump, class:"btn btn-success" %></td>
        <%if current_admin.companyadmin?%>
        <td><%= link_to 'Edit', edit_pump_path(pump), class:"btn btn-success" %></td>
        <td><%= link_to 'Delete', pump, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td><%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>
There are no pumps added to this product category yet.
<% end %>


              </div>
            </div>
          </div>
         
        </div>
        <!-- end of accordion -->


      </div>
    </div>
  </div>





<br>
<%= link_to 'Submit Sales Report', newreport_product_path(@product.id) , class: "btn btn-success"%> 
 <%= link_to 'Add pump', newpump_product_path(@product.id) , class: "btn btn-primary"%> 

<%= link_to "Back", :back, class:"btn btn-warning"%>




</div>