<div class = "container-fluid">
<%= form_for([@product, @product.pumps.build]) do |form| %>
  
  <div class="row">
  <div class="col-md-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>New Pump Form <small>pump entry for <%=@product.name%> </small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br />
        <form class="form-horizontal form-label-left input_mask">



   <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            
    <%= form.label :name, "Pump Name" %>
    
    <%= form.text_field :name, id: :pump_name,  class:"form-control has-feedback-left", placeholder:"Pump Name", type:"text", required:"required" %>
  <span class="fa fa-info form-control-feedback left" aria-hidden="true"></span>
          </div>


          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                  <%= form.submit "Submit", class:"btn btn-primary"%>   <%= link_to "Cancel", product_path(@product),class:"btn btn-danger"%>


            </div>
          </div>

        </form>
      </div>
    </div>



<% end %>
